.chess-background {
  background-image: url("../public/chess-background.jpg");
  background-size: cover;
  min-height: 100vh;
}

.card-container {
  margin-top: 20px;
}

.replay-list-item {
  background-color: #f8f9fa;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.replay-list-item:hover {
  border-color: red;
}

.replay-info {
  font-weight: bold;
}

.replay-link:hover {
  text-decoration: none;
}

.replay-result {
  margin-top: 5px;
  color: #6c757d;
}

.chess-piece {
  width: 50px;
  height: 50px;
}
